<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proxischools</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Welcome to ProxiSchools</h1>
    <p>
        Lost in the map? Not anymore. <br>
        Add schools to the list or find the closest ones to you
    </p>

    <div style="margin-top: 20px;">
        <a href="/schools/new"><button class="homebtn">Add a School</button></a>
        <a href="/schools/info"><button class="homebtn">Find Nearby Schools</button></a>
    </div>
</body>

</html>