<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>Enter the info</h2>
    <form method="get" action="/schools">
        <div class="ip">
            <label for="latitude">Latitude: </label>
            <input type="number" step="any" name="latitude" required id="latitude" placeholder="latitude">
        </div>

        <div class="ip">
            <label for="name">Longitude: </label>
            <input type="number" step="any" name="longitude" required id="name" placeholder="longitude">
        </div>
        <button class="submit">OK</button>
    </form>
</body>

</html>